# Holiday Community App-Building Challenge, Plotly Dash Python

__Author:__ Kathryn Hurchla for [Data Design Dimension](https://dadeda.design)
__Date:__ Dec 2022 - Jan 2023

__Information:__ https://community.plotly.com/t/holiday-community-app-building-challenge/70393/4  
__Data:__ https://raw.githubusercontent.com/plotly/datasets/master/telco-customer-churn-by-IBM.csv (The customer churn data was provided by [IBM](https://community.ibm.com/accelerators/?context=analytics&query=telco&type=Data) to solve business problems and predict customer churn for a fictional telecommunication company.)  
__Data description:__ https://docs.google.com/document/d/1iazD22swSw6CJAVDwkVk-Ynh-r-4meWclfQ0jVMMubU/edit?usp=sharing

## Objective
Create an app, and share it by replying to the Forum topic by midnight Saturday, January 14. 

Share:
- app code
- a link to the deployed app if possible

Judging for winning apps according to the following categories:
- Ability to provide insight on the relationship between churn and customers’ characteristics
- App Design
- Data exploration and data analysis routines (e.g. numerical methods, machine learning, prediction, classification, optimization)

In [1]:
# import libraries
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
# read data from URL into a dataframe
data = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/telco-customer-churn-by-IBM.csv")
df = pd.DataFrame(data)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
# review data types
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [6]:
# review columns with nan as a list
df.columns[df.isna().any()].tolist()

[]

In [10]:
# review TotalCharges
df['TotalCharges'].describe()

count     7043
unique    6531
top
freq        11
Name: TotalCharges, dtype: object

In [18]:
# count blank object values in column
(df['TotalCharges'].values == '').sum()

0

In [19]:
len(df['TotalCharges'] == '')

7043

In [20]:
df.loc[df['TotalCharges'] == ''].count().iloc[0]

0

In [29]:
df['TotalCharges'].sort_values

<bound method Series.sort_values of 0         29.85
1        1889.5
2        108.15
3       1840.75
4        151.65
         ...
7038     1990.5
7039     7362.9
7040     346.45
7041      306.6
7042     6844.5
Name: TotalCharges, Length: 7043, dtype: object>

In [32]:
# # return ValueError: could not convert string to float: ' '
# # replace empty values ('') with np.nan
# df['TotalCharges']=df.TotalCharges.replace('',np.nan).astype(float)

In [34]:
# # returns ValueError: Unable to parse string " " at position 488
# # convert all columns to float
# df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], downcast="float")
# print(df.dtypes)

ValueError: Unable to parse string " " at position 488